name: "format"
on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        cd src
        npm install
    - name: Format
      run: npm run format
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4.1.2
      with:
        commit_message: Formatted code using prettier
        branch: ${{ github.head_ref }}
